* {
	font-family: arial;
	padding: 0;
	margin: 0;
}
.intro {
	text-align: center;
}

.text {
	margin-top: 8em;
}
.intro .text h1 {
	font-size: 6em;
    font-weight: 900;
    margin-bottom: 0;
}
.intro .text p {
	font-size: 2.5em;

}
.intro .buttons {
	margin-top: 4em;
}
.intro button:nth-child(2) {
	margin-left: 1em;
}
.intro img {
	width: 76%;
}