* {
	padding: 0;
	margin: 0;
}
.intro {
	text-align: center;
}

.text {
	margin-top: 8em;
}
.intro .text h1 {
	font-size: 6em;
    font-weight: 900;
    margin-bottom: 0;
}
.intro .text p {
	font-size: 2.5em;

}
.intro .buttons {
	margin-top: 4em;
}
.intro button:nth-child(2) {
	margin-left: 1em;
}
.intro img {
	width: 76%;
}
/*====================================================================================*/
/*====================================================================================*/
/*ABOUT ME SECTION*/
.about-wrapper {
	padding-top: 60px;
}
.about-wrapper .container {
	border-top: 4px solid red;
    border-right: 4px solid red;
    border-radius: 26px;
    padding: 50px 10px;
}
.about {
	text-align: center;
}
.about h1 {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 2.5em;
	margin-bottom: 120px;
}
.aboutImage {

}
.aboutImage img {
	margin: 0 auto;
	border-bottom: 3px solid red;
    border-left: 3px solid red;
    border-radius: 26px;
}
.aboutContent {
	text-align: left;
}
.aboutContentHeader {
	font-family: monospace, "Lucida Console", sans-serif;
	margin-top: 50px;
	margin-bottom: 80px;
	margin-right: 60px;
	font-size: 1.7em;
}
.about .red {
	color: red;
	margin-bottom: 0;
}
.aboutDetails {
}
.aboutDetails .bold {
	font-size: 1.3em;
	font-weight: bold;
	    min-width: 130px;
}
.aboutDetails p {
	font-family: Tahoma, Geneva, sans-serif;
	display: inline;
	font-size: 1.2em;
}
.aboutDetails ul {
	list-style-type: none;
}
.aboutDetails ul li {
	color: #919191;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.4em;
	border-bottom: 1px solid grey;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.aboutDetails ul li span {
	color: #7d7c7c;
	font-weight: 600;
	display: inline-block;
	min-width: 140px;
}

/*====================================================================================*/
/*====================================================================================*/

/*Skills SECTION*/

.skills {
	margin-top: 100px;
	padding: 0;
	background-color: #9f0002;
	padding-top: 50px;
    padding-bottom: 80px;
}
.skills .container {
	border-top: 4px solid white;
    border-right: 4px solid white;
    border-radius: 26px;
    padding: 50px 10px;
}
.skills h1 {
	color: white;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 2em;
	margin-bottom: 120px;
	text-align: center;
}
.skills h1 span {
	font-size: 1.2em;
	background-color: white;
    color: #fd0508;
    border-radius: 10px;
    min-width: 120px;
    display: inline-block;
    padding: 3px 0;
    box-shadow: 10px 10px 5px #690102;
}
.skills-content {
	padding: 20px 5px 20px 20px;
}
.one {
	border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-radius: 26px;
    
}
.skills-content ul {
	list-style-type: none;
	margin-bottom: 0;
}
.skills-content ul li {
	color: #919191;
	background-color: #910406;
	border-radius: 20px;

	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.4em;

	margin-bottom: 20px; 
}
.skills-content ul li span {
	font-family: cursive;
	font-weight: 400;
	display: inline-block;	
}
.skills .prsentation {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}
.ninety {
	max-width:  90%;
}
.eighty {
	max-width: 80%;
}
.seventy {
	max-width: 70%;
}
.sixty {
	max-width: 60%;
}

.fifty {
	max-width: 50%;
}































/*====================================================================================*/
/*====================================================================================*/
/*Media Queries*/

@media (max-width: 1100px) {
	.aboutContentHeader {
		text-align: center;
		margin-right: 0;

	}
}
@media (max-width: 770px) {
	.skills .container {
		margin: 10px;
	}
	.skills-content {
		padding: 0px 5px 0px 20px;
	}
	.skills .one {
		border: none;
	}
	.skills .two {
		border-bottom: 3px solid white;
    	border-left: 3px solid white;
    	border-radius: 26px;
	}
}
@media (max-width: 600px) {
	.aboutDetails ul li {
		font-size: 1em;
	}
	.aboutDetails ul li span {
		min-width: 94px;
	}
}